{% extends "base.html" %}
{% block script %}

<script>

    //this function gets query strign values in js without any plugins 

    function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
    }


    $(document).ready(function(){
 
        var query = getParameterByName('q')
        var tweetList = [];
        var nextTweetUrl;

        function updateHashLinks()
        {
            $(".media-body").each(function(data){
                var hashtagRegex = /(^|\s)#([\w\d-]+)/g
                var newText = $(this).html().replace(hashtagRegex, "$1<a href='/tags/$2'>#$2</a>")
                $(this).html(newText)
            })
        }

        function attachTweet(tweetValue,prepend)
        {

                    var tweetContent  = tweetValue.content;
                    var tweetUser = tweetValue.user;
                    var dateDisplay = tweetValue.date_display
                    var isRetweet = tweetValue.is_retweet
                    var tweetFormattedHtml = "<div class=\"media\">" + isRetweet + "<div class=\"media-body\">" + tweetContent + "<br/> via <a href = '" + tweetUser.url+ "'>" + tweetUser.username + "</a> |  " + dateDisplay + " | " +  "<a href='/tweet/" + tweetValue.id +"' >View</a>"+ "</div></div><hr>"
                    if(prepend == true)
                    {
                        $('#tweet-container').prepend(tweetFormattedHtml )
 
                    }
                    else 
                    {
                        $('#tweet-container').append( tweetFormattedHtml)
                    }

         }
         function parseTweet()
         {
            if(tweetList ==0)
            {
                   $('#tweet-container').text("No tweets currently found !!")

            }
            else // tweets exists , parse them 
            {
                $.each(tweetList,function(key,value){
                    var tweetkey = key;
                    attachTweet(value);
                     })
            }
        }
                

        function fetchTweets(url)
        {
            var fetchUrl;
            if(!url)
            {
                fetchUrl = "/api/tweet/" 
            }
            else 
            {
                fetchUrl = url
            }

            $.ajax({

            url:fetchUrl, //to our api
            data:{
                'q': query
            },
            method:"GET",
            success: function(data)
            {
                tweetList = data.results;
                if(data.next)
                {
                    nextTweetUrl = data.next;                    
                }
                else
                {
                    $("#loadmore").css("display","none")
                }


                parseTweet()
                updateHashLinks()
            },
            error:function(data)
            {   
                console.log("error"),
                console.log(data)
            }

            })
        }
        fetchTweets()

        $("#loadmore").click(function(event){

            event.preventDefault()
            if(nextTweetUrl)
            {
                fetchTweets(nextTweetUrl)
            }

        })

        var charsStart = 140;
        var charsCurrent = 0;
        $("#tweet-form").append("<span id='tweetCharsLeft'>"+ charsStart + "</span>")

        $("#tweet-form textarea").keyup(function(event){

            var tweetValue = $(this).val()
            charsCurrent = charsStart - tweetValue.length
            var spanChars = $("#tweetCharsLeft")
            spanChars.text(charsCurrent)

            if(charsCurrent>0)
            {
                spanChars.removeClass("red-color")
                spanChars.removeClass("grey-color")
            }
            else if(charsCurrent == 0)
            {
                spanChars.removeClass("red-color")
                spanChars.addClass("grey-color")
            }
            else 
            {
                spanChars.removeClass("grey-color")
                spanChars.addClass("red-color")
            }

        })




        $("#tweet-form").submit(function(event)
        {
               event.preventDefault();
            var this_ = $(this)
         
            var formData = this_.serialize();
            if(charsCurrent>=0)
            {
                $.ajax({

                url:"/api/tweet/create/" , //to our api
                data:formData,
                method:"POST",
                success: function(data)
                {
                    // console.log(data)
                    attachTweet(data,true)
                    updateHashLinks()
                    this_.find("input[type=text], textarea").val("")
                    // fetchTweets()   
                },
                error:function(data)
                {   
                    console.log("error"),
                    console.log(data),
                    console.log(data.status)

                }

                })   
            }
            else 
            {
                console.log("Tweet is too long")
            }
            
        } )
    });
</script>
{% endblock script %}
 {% block title %} All Tweets {% endblock title %} 

 {% block content %}



<div class="row">
    <div class="col-sm-3 col-xs-12">
        <h1>{{ request.user }}</h1>
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
            <div class="">
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet !!' form_id='tweet-form' %}
                
            </div>
            <hr/>
        {% endif %}

        <div id="tweet-container">
        </div>
        <a href="#" id="loadmore">Load More Tweets</a>

        <!--DOING THIS VIA JS AND AJAX SO THAT WE DONT NEED TO RELOAD THE PAGE WHEN A NEW TWEET IS MADE !!! -->
<!--         {% for object in object_list %}
        <div class="media">
            <div class="media-left">
                {% if object.image %}<img src="img_avatar1.png" class="media-object" style="width:60px"> {% endif %}
            </div>
            <div class="media-body">
                {{ object.content }}
                <br/> via {{ object.user }} |{{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}"> View</a>
            </div>
        </div>
         {% empty %} {% if request.GET.q %}
        <p>No Tweets found </p>
        {% else %}
        <p>No Tweets yet </p>
        {% endif %} {% endfor %} -->
    </div>
</div>
{% endblock %}
