{% extends "base.html" %}
{% load recommended %}
{% block script %}

<script>

    //this function gets query strign values in js without any plugins 

  
    $(document).ready(function(){
       loadTweetContainer("tweet-container") 
    });
</script>
{% endblock script %}
 {% block title %} All Tweets {% endblock title %} 

 {% block content %}



<div class="row" >
    <div class="col-sm-3 col-xs-12">
        <h1>{{ request.user }}</h1>
        <hr/>
        <br/>

        <p class="maroon-color" >Recommended to Follow :</p>
        {% recommended request.user %}
    </div>
    <div class="col-sm-9">
        {% if not request.GET.q %}
            <div class="">
            {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet !!' form_class='tweet-form' %}
                
            </div>
            <hr/>
        {% endif %}

        <div id="tweet-container" data-url='/api/tweet/'>

        </div>
        <a href="#" id="loadmore">Load More Tweets</a>

        <!--DOING THIS VIA JS AND AJAX SO THAT WE DONT NEED TO RELOAD THE PAGE WHEN A NEW TWEET IS MADE !!! -->
<!--         {% for object in object_list %}
        <div class="media">
            <div class="media-left">
                {% if object.image %}<img src="img_avatar1.png" class="media-object" style="width:60px"> {% endif %}
            </div>
            <div class="media-body">
                {{ object.content }}
                <br/> via {{ object.user }} |{{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}"> View</a>
            </div>
        </div>
         {% empty %} {% if request.GET.q %}
        <p>No Tweets found </p>
        {% else %}
        <p>No Tweets yet </p>
        {% endif %} {% endfor %} -->
    </div>
</div>
{% endblock %}
